<!DOCTYPE html>
<html lang="en" class="">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;500;600&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="./output.css">
  <title>Document</title>
</head>
<body class="bg-light-bg-200 dark:bg-dark-bg-200">
  <section id="section_sign_up" class="hidden w-full h-screen box-border flex flex-nowrap justify-center items-center">
    <form class="w-1/3 h-5/6 p-8 border-1 border-light-primary-100 flex justify-evenly flex-col">
      <h1 class="text-light-text-100 font-Quicksand font-extrabold text-2xl align-text-top dark:text-dark-acent-200">Crea una cuenta</h1>
      <div class="flex justify-center flex-col gap-4">
        <input type="text" placeholder="Nombre" name="nombre" maxlength="50" required class="w-72 h-12 font-Quicksand rounded-lg">
        <input type="password" placeholder="Contraseña" name="contraseña" minlength="5" maxlength="20" required class="w-72 h-12 font-Quicksand rounded-lg">
        <input type="email" placeholder="Correo" name="correo" minlength="8" maxlength="20" required class="w-72 h-12 font-Quicksand rounded-lg">
      </div>
      <div class="flex justify-center flex-col gap-4">
        <button type="button" id="sign_up_registrar_usuario" class="primary-button">Crear cuenta</button>
        <button type="button" id="sign_up_iniciar_sesion" onclick="loginPage()" class="primary-button">Inicia sesión</button>
      </div>
    </form>
    <figure class="w- h-5/6 overflow-hidden object-cover">
      <img class="h-full rounded-2xl" src="https://images.pexels.com/photos/4386321/pexels-photo-4386321.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="">
    </figure>
  </section>

  <section id="section_log_in" class="w-full h-screen box-border flex flex-nowrap justify-center items-center">
    <form class="w-1/3 h-5/6 p-8 border-1 border-light-primary-100 flex justify-evenly flex-col">
      <h1 class="text-light-text-100 font-Quicksand font-extrabold text-2xl align-text-top dark:text-dark-acent-200">Inicia sesión</h1>
      <div class="flex justify-center flex-col gap-4">
        <input type="text" class="w-72 h-12 font-Quicksand rounded-lg" name="nombre_usuario" placeholder="Nombre" required>
        <input type="password" class="w-72 h-12 font-Quicksand rounded-lg" placeholder="Contraseña" name="contraseña" required>
      </div>
      <div class="flex justify-center flex-col gap-4">
        <button type="button" id="iniciar_login" class="primary-button">Inicia sesión</button>
        <button type="button" id="registrar_login" onclick="signUpPage()" class="primary-button">Registrate</button>
      </div>
    </form>
    <figure class="w- h-5/6 overflow-hidden object-cover">
      <img class="h-full rounded-2xl" src="https://images.pexels.com/photos/4386321/pexels-photo-4386321.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="">
    </figure>
  </section>

  <section id="section_registro_ingresos" class="hidden">
    <form class="">
      <h2>Registro de ingreso</h2>
      <div class="">
        <input type="text" class="" name="fuente_ingreso" placeholder="Fuente de ingreso" required>
        <label">Fuente de ingreso</label>
      </div>
      <div class="">
        <input type="number" class="" placeholder="Monto recibido" name="monto_recibido" required>
        <label">Monto recibido</label>
      </div>
      <div class="">
        <input type="date" class="" placeholder="Fecha" name="fecha" required>
        <label">Fecha</label>
      </div>
      <button type="button" id="registrar_ingreso" class="primary-button">Registrar</button>
      <button type="button" onclick="principalPage()" class="primary-button">Cancelar</button>
    </form>
  </section>

  <section id="section_registro_egresos" class="hidden">
    <form class="">
      <h2>Registro de egreso</h2>
      <div class="">
        <input type="text" class="" name="adquisicion" placeholder="Adquisicion" required>
        <label>Adquisicion</label>
      </div>
      <div class="">
        <input type="number" class="" placeholder="Precio" name="precio" required min="500">
        <label>Precio</label>
      </div>
      <div class="">
        <input type="date" class="" placeholder="Fecha" name="fecha_pago" required>
        <label>Fecha de compra</label>
      </div>
      <select name="categoria" id="categoria" required class="">
        <option value="1">Alimentacion</option>
        <option value="2">Transporte</option>
        <option value="3">Servicios</option>
        <option value="4">Entretenimiento</option>
        <option value="5">Vivienda</option>
        <option value="6">Salud</option>
        <option value="7">Educación</option>
        <option value="8">Ropa y accesorios</option>
        <option value="9">Aseo personal</option>
        <option value="10">Hormiga</option>
      </select>
      <select name="estado" id="estado" required class="">
        <option value="1">Pendiente</option>
        <option value="2">Pagado</option>
        <option value="3">Vencido</option>
      </select>
      <button type="button" id="registrar_egresos" class="primary-button">Registrar</button>
      <button type="button" onclick="principalPage()" class="primary-button">Cancelar</button>
    </form>
  </section>

  <section id="section_registro_presupuesto" class="hidden">
    <form class="">
      <h2>Registo de presupuesto</h2>
      <div class="">
        <input type="number" class="" placeholder="Monto limite" name="monto_limite" required min="500">
        <label>Monto limite</label>
      </div>
      <label for="categoria">Elija la categoría a la que asignará el presupuesto</label>
      <select name="categoria_presupuesto" id="categoria_pre" required class="">
        <option value="1">Alimentacion</option>
        <option value="2">Transporte</option>
        <option value="3">Servicios</option>
        <option value="4">Entretenimiento</option>
        <option value="5">Vivienda</option>
        <option value="6">Salud</option>
        <option value="7">Educación</option>
        <option value="8">Ropa y accesorios</option>
        <option value="9">Aseo personal</option>
        <option value="10">Hormiga</option>
      </select>
      <button type="button" id="registrar_presupuesto" class="primary-button">Registrar</button>
      <button type="button" onclick="principalPage()" class="primary-button">Cancelar</button>
    </form>
  </section>

  <section id="section_consulta_ingresos" class="hidden">
    <h2>Registros de ingresos</h2>
    <table>
      <thead>
        <tr>
          <td>Fuente de ingreso</td>
          <td>Monto</td>
          <td>Fecha</td>
          <td>Eliminar</td>
        </tr>
      </thead>
      <tbody>
        <!-- Codigo inyectado por js-->
      </tbody>
    </table>
    <button type="button" onclick="registroIngresoPage()"  class="primary-button">Nuevo ingreso</button>
  </section>

  <section id="section_consulta_egresos" class="hidden">
    <h2>Registros de egresos</h2>
    <table>
      <thead>
        <tr>
          <td>Categoria</td>
          <td>Estado</td>
          <td>Fecha de pago</td>
          <td>Presupuesto</td>
          <td>Eliminar</td>
        </tr>
      </thead>
      <tbody>
        <!-- Codigo inyectado por js-->
      </tbody>
    </table>
    <button  type="button" onclick="registroEgresoPage()" class="primary-button">Nuevo egreso</button>
    <button type="button" onclick="registroPresupuestoPage()"  class="primary-button">Nuevo presupuesto</button>
  </section>

  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
  <script src="./js/nodes.js"></script>
  <script src="./js/navegation.js"></script>
  <script src="./js/interaccion.js"></script>
  <script src="./js/peticiones.js"></script>
  <script>
    const htmlElement = document.querySelector("html");
    const toggleButton = document.querySelector("#toggle");

    toggleButton.addEventListener("click", () =>{
      htmlElement.classList.toggle('dark');
    })
  </script>
</body>
</html>
