<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&family=M+PLUS+Rounded+1c:wght@300;500;900&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="./style.css">
  <title>Document</title>
</head>
<body>
  <section id="section_sign_up" class="invisible">
    <form class="">
      <div class="">
        <h1 class="text-red-300 first-letter:divide-indigo-700">Registrate</h1>
        <div class="">
          <input type="text" class="" placeholder="Nombre" name="nombre" maxlength="50" required>
          <label>Nombre</label>
        </div>
        <div class="form-floating">
          <input type="password" class="" placeholder="Contraseña" name="contraseña" minlength="5" maxlength="20" required>
          <label>Contraseña</label>
        </div>
        <div class="form-floating">
          <input type="email" class="" placeholder="Correo" name="correo" minlength="8" maxlength="20" required>
          <label>Correo</label>
        </div>
        <button type="button" id="sign_up_registrar_usuario" class="">Registrar</button>
      </div>
    </form>
  </section>

  <section id="section_log_in" class="">
    <form class="">
      <h2>Inicia sesión</h2>
      <div class="">
        <input type="text" class="" name="nombre_usuario" placeholder="Nombre" required>
        <label>Nombre</label>
      </div>
      <div class="">
        <input type="password" class="" placeholder="Contraseña" name="contraseña" required>
        <label>Contraseña</label>
      </div>
      <button type="button" id="iniciar_login" class="">Inicia sesión</button>
      <button type="button" id="registrar_login" onclick="signUpPage()" class="">Registrate</button>
    </form>
  </section>

  <section id="section_registro_ingresos" class="">
    <form class="">
      <h2>Registro de ingreso</h2>
      <div class="">
        <input type="text" class="" name="fuente_ingreso" placeholder="Fuente de ingreso" required>
        <label">Fuente de ingreso</label>
      </div>
      <div class="">
        <input type="number" class="" placeholder="Monto recibido" name="monto_recibido" required>
        <label">Monto recibido</label>
      </div>
      <div class="">
        <input type="date" class="" placeholder="Fecha" name="fecha" required>
        <label">Fecha</label>
      </div>
      <button type="button" id="registrar_ingreso" class="">Registrar</button>
      <button type="button" onclick="principalPage()" class="">Cancelar</button>
    </form>
  </section>

  <section id="section_registro_egresos" class="">
    <form class="">
      <h2>Registro de egreso</h2>
      <div class="">
        <input type="text" class="" name="adquisicion" placeholder="Adquisicion" required>
        <label>Adquisicion</label>
      </div>
      <div class="">
        <input type="number" class="" placeholder="Precio" name="precio" required min="500">
        <label>Precio</label>
      </div>
      <div class="">
        <input type="date" class="" placeholder="Fecha" name="fecha_pago" required>
        <label>Fecha de compra</label>
      </div>
      <select name="categoria" id="categoria" required class="">
        <option value="1">Alimentacion</option>
        <option value="2">Transporte</option>
        <option value="3">Servicios</option>
        <option value="4">Entretenimiento</option>
        <option value="5">Vivienda</option>
        <option value="6">Salud</option>
        <option value="7">Educación</option>
        <option value="8">Ropa y accesorios</option>
        <option value="9">Aseo personal</option>
        <option value="10">Hormiga</option>
      </select>
      <select name="estado" id="estado" required class="">
        <option value="1">Pendiente</option>
        <option value="2">Pagado</option>
        <option value="3">Vencido</option>
      </select>
      <button type="button" id="registrar_egresos" class="">Registrar</button>
      <button type="button" onclick="principalPage()" class="">Cancelar</button>
    </form>
  </section>

  <section id="section_registro_presupuesto" class="">
    <form class="">
      <h2>Registo de presupuesto</h2>
      <div class="">
        <input type="number" class="" placeholder="Monto limite" name="monto_limite" required min="500">
        <label>Monto limite</label>
      </div>
      <label for="categoria">Elija la categoría a la que asignará el presupuesto</label>
      <select name="categoria_presupuesto" id="categoria_pre" required class="">
        <option value="1">Alimentacion</option>
        <option value="2">Transporte</option>
        <option value="3">Servicios</option>
        <option value="4">Entretenimiento</option>
        <option value="5">Vivienda</option>
        <option value="6">Salud</option>
        <option value="7">Educación</option>
        <option value="8">Ropa y accesorios</option>
        <option value="9">Aseo personal</option>
        <option value="10">Hormiga</option>
      </select>
      <button type="button" id="registrar_presupuesto" class="">Registrar</button>
      <button type="button" onclick="principalPage()" class="">Cancelar</button>
    </form>
  </section>

  <section id="section_consulta_ingresos" class="">
    <h2>Registros de ingresos</h2>
    <table>
      <thead>
        <tr>
          <td>Fuente de ingreso</td>
          <td>Monto</td>
          <td>Fecha</td>
          <td>Eliminar</td>
        </tr>
      </thead>
      <tbody>
        <!-- Codigo inyectado por js-->
      </tbody>
    </table>
    <button type="button" onclick="registroIngresoPage()"  class="">Nuevo ingreso</button>
  </section>

  <section id="section_consulta_egresos" class="">
    <h2>Registros de egresos</h2>
    <table>
      <thead>
        <tr>
          <td>Categoria</td>
          <td>Estado</td>
          <td>Fecha de pago</td>
          <td>Presupuesto</td>
          <td>Eliminar</td>
        </tr>
      </thead>
      <tbody>
        <!-- Codigo inyectado por js-->
      </tbody>
    </table>
    <button  type="button" onclick="registroEgresoPage()" class="">Nuevo egreso</button>
    <button type="button" onclick="registroPresupuestoPage()"  class="">Nuevo presupuesto</button>
  </section>

  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
  <script src="./js/nodes.js"></script>
  <script src="./js/navegation.js"></script>
  <script src="./js/interaccion.js"></script>
  <script src="./js/peticiones.js"></script>
</body>
</html>
